body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 350px;
  height: auto;
  overflow: hidden;
  font-family: arial, sans-serif;
  background-color: #7f529e;
  border: 5px solid white;
}

h1 {
  background-color: #7f529e;
  color: #ffffff;
  text-align: center;
}

.content {
  width: 100%;
  height: 100%;
  padding: 2px;
  margin: 0 auto;
  box-sizing: border-box;
}
#start {
  background-color: #7f529e;
  color: #ffffff;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: powderblue;
}
#start:hover {
  background-color: #0de747;
}
#reset {
  background-color: #7f529e;
  color: #ffffff;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: powderblue;
}
#reset:hover {
  background-color: #2760e5;
}
#stop {
  background-color: #7f529e;
  color: #ffffff;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: powderblue;
}
#stop:hover {
  background-color: #ed1919;
}

.interval {
  color: #ffffff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* font-size: medium; */
}
#interval {
  font-size: large;
  background: #7f529e;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #7f529e;
  margin-bottom: 5px;
  padding: 2px;
  box-sizing: border-box;
  box-shadow: powderblue;
}
.displayLinks{
  margin: auto;
  width: 100%;
  display: flex;
  padding: 5px 3px;
  justify-content: center;
}
.dropdown{
  max-width: 60%;
}
.display{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
    /* display: inline-block; */
   vertical-align: middle;
}
/* .linkDis {
  margin: 2px;
  padding: 2px;
  text-decoration: none !important;
  outline: none !important;
  color: #ffffff;
  background-color: #7f529e;
  border: none;
  
}
.linkDis:hover {
  color: black;
  cursor: pointer;
}
.linkDis {
  border: 2px solid white;
  background-color: #7f529e;
  color: #ffffff;
}
.display{
  list-style: none;
  outline: none;
  text-decoration: none;
} */